{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "add-react-displayname",
    "babel-plugin-root-import"
  ],
  "env": {
    "test": {
      "presets": [
        ["next/babel", {"preset-env": {"modules": "commonjs"}}]
      ]
    }
  }
}
